html
  head
    title Heartbeat Dankbeat
    link(rel="icon" href="https://img.clipartfox.com/8fec5c921b883da32b1c486fe985ef11_heart20clipart-heart-cliparts_2020-1764.png")
    link(rel="stylesheet" href="/css/main.css")
  body
    div(id="heartbeats")
    script(src="/js/socket.io.min.js")
    script(src="/js/heartbeats.js")